@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

html,
body,
.App,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App, body  {
  background: rgb(102,247,214);
  background: linear-gradient(0deg, rgba(102,247,214,1) 0%, rgba(243,255,252,1) 100%);
  text-align: center;
}

.error {
  color: red;
}